<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liu.practice.dao.ConnectDao">
    <select id="findjudge" resultType="com.liu.practice.entity.Connect">
        select * from connect
        <where>
               teachername=#{params.teachername} AND studentid=#{params.studentid} AND classid=#{params.classid}
        </where>
    </select>
    <select id="findBySearch" resultType="com.liu.practice.entity.Connect">
        select * from connect
        <where>
            <if test="params != null and params.studentid != null and params.studentid != ''">
                and studentid like concat('%', #{params.studentid}, '%')
            </if>
            <if test="params != null and params.teachername != null and params.teachername != ''">
                and teachername like concat('%', #{params.teachername}, '%')
            </if>

        </where>
    </select>
    <select id="findteachers" resultType="java.lang.String">
        select teachername from connect
        <where>
                    studentid=#{params.studentid}
        </where>
    </select>
    <select id="findbyteacherid" resultType="java.lang.String">
        select studentid from connect
        <where>
            teacherid=#{teacherid}
        </where>
    </select>
    <delete id="deleteByStudentId">
        delete  from connect
        <where>
            studentid=#{studentid}
        </where>
    </delete>
    <delete id="deleteByTeacherId">
        delete  from connect
        <where>
            teacherid=#{teacherid}
        </where>
    </delete>
    <delete id="deleteByClassId">
        delete  from connect
        <where>
            classid=#{classid}
        </where>
    </delete>
</mapper>