<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liu.practice.dao.NotebookDao">
    <select id="findBySearch" resultType="com.liu.practice.entity.Notebook">
        select * from notebook
        <where>
                classid=#{ params.classid }   and  studentid=#{ params.studentid}
        </where>
    </select>
    <delete id="deleteByStudentId">
        delete  from connect
        <where>
            studentid=#{studentid}
        </where>
    </delete>
    <delete id="deleteByClassId">
        delete  from notebook
        <where>
            classid=#{classid}
        </where>
    </delete>
</mapper>