<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liu.practice.dao.QuestionsubmitDao">

    <!--2. 基于xml的方式-->
    <select id="findBySearch" resultType="com.liu.practice.entity.Questionsubmit">
        select * from question_submit
        <where>
            <if test="params != null and params.userid != null and params.userid != ''">
                and userid =#{ params.userid }
            </if>
            <if test="params != null and params.questionid != null and params.questionid != ''">
                and questionid=#{ params.questionid }
            </if>
            <if test="params != null and params.language != null and params.language != ''">
                and language =#{ params.language }
            </if>
        </where>

    </select>
    <select id="findByteachid" resultType="com.liu.practice.entity.Questionsubmit">
        SELECT q.*
        FROM question_submit q
                 JOIN connect c ON q.userid = c.studentid

        <where>
            c.teacherid = #{params.teacherid}
            <if test="params != null and params.userid != null and params.userid != ''">
                and userid =#{ params.userid }
            </if>
            <if test="params != null and params.questionid != null and params.questionid != ''">
                and questionid=#{ params.questionid }
            </if>
            <if test="params != null and params.language != null and params.language != ''">
                and language =#{ params.language }
            </if>
        </where>
    </select>
    <select id="getbyid" resultType="com.liu.practice.entity.Questionsubmit">
        select * from question_submit
        <where>
            id=#{id}
        </where>
    </select>

    <select id="findbyothers" resultType="com.liu.practice.entity.Questionsubmit">
        select COUNT(*) AS count from question_submit
        <where>
            userId=#{userId} and questionId=#{questionId}
            and language =#{language}
            and code=#{code}
        </where>
    </select>
</mapper>